@media only screen and (max-width: 425px) {
  .navigation-main {
    flex-direction: row-reverse;
    padding: 2vw 0;
  }

  .nav-icon svg {
    height: 3vw;
    width: 3vw;
  }

  .nav-cta-wrap {
    display: none;
  }

  #frame1 {
    min-height: 105vh;
  }

  .frame1-wrap {
    margin-top: 10vw;
    gap: 10vw;
  }

  .hero-title {
    font-family: "Narrow-R";
    font-size: 9vw;
    line-height: 1.2;
    text-align: center;
  }

  .media-wrap img {
    height: 2.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .navigation-main {
    flex-direction: row-reverse;
  }

  .nav-icon svg {
    height: 3vw;
    width: 3vw;
  }

  .nav-cta-wrap {
    display: none;
  }

  .logo {
    max-width: 30vw;
    padding: 1vw 1vw 1vw 0;
  }

  .logo img {
    max-height: 30px;
  }

  #frame1 {
    min-height: 105vh;
  }

  .frame1-wrap {
    gap: 10vw;
  }

  .hero-title {
    font-size: 9vw;
  }

  .media-wrap img {
    height: 5rem;
  }
}
